{% extends 'main.html' %}
{% block content %}
    <div class="container grid mt-5">
                <!-- Here we loop over the rooms which we can get from the database -->
                <div class="row justify-content-evenly">
                {% for room in rooms %}
                        <div class="btn-group col-8 col-sm-2 mb-2" role="group">
                                <button class="btn col-10 btn-primary">{{room}}</button>
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#">Edit room</a></li>
                                        <li><a class="dropdown-item" href="#">Delete room</a></li>
                                </ul>
                        </div>
                {% endfor %}
                        
                </div>
        </div>
{% endblock content %}
