{% extends 'main.html' %}
{% load static %}
{% block content %}
    <script>
        document.getElementById('dropdownMenuLink').innerHTML = '{{Room}}'
        function getRoom(){
            return {{Room.id}}
        }
    </script>
    <div class="container grid mt-5">
                <!-- Here we loop over the rooms which we can get from the database -->
                <div class="row justify-content-evenly">
                {% for appliance in appliances %}
                <div class="btn-group col-md col-10 mb-2" role="group">
                    <button onclick="flip(this)" class="btn col-9 
                    btn-{% if appliance.status %}success{% else %}secondary{% endif %}"  data-pin={{appliance.pin_no}} data-pinStatus={{appliance.status}} >
                            {{appliance.name}}
                    </button>

                    <button id="btnGroupDrop1" type="button" class="btn col-3 btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="#">Edit Appliance</a></li>
                            <li><a class="dropdown-item" onclick="deletePin({{appliance.pin_no}})">Delete Appliance</a></li>
                    </ul>
            </div>
                {% endfor %}
                </div>
    </div>
    <div class="fixed-bottom d-grid justify-content-end">
                <button class="btn btn-primary me-3 mb-3 rounded-pill"> Add Appliance</button>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
